html {
  height: 100%;
  width: 100%;
  /* Testimonial */


  box-sizing: border-box;

  /* Auto layout */

  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;



  background-color: black;
  /* violet/800 */

  border: 1px solid #5B21B6;
  box-shadow: inset 0px 0px 36px rgba(68, 16, 147, 0.8);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.center {
  margin: 0 auto;
  /* position: absolute; */
  top: 20%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

/* The main text? */

h1 {
  text-align: center;
  /* font-size: 2.85vw; */
  font-size: 35px;
    font-weight: 500;
  /* position: absolute; */
  top: 265px;
  right: 0px;
  left: 0px;
  color: #8533ff;



}

label {
	font-family: 'Space Grotesk';
  color: white;
  font-size: 26px;
}



h2 {

	font-family: 'Space Grotesk';
  color: white;
  /* position: absolute; */
  /* margin-right: 60px; */
  /* margin-left: 30px; */

}

p {
	font-family: 'Space Grotesk';
  color: white;
  font-size: 2.3vw;
}

form {
  /* position: absolute; */
  top: 300px;
}



/* div {
  color: white;
  font-size: 26vw;

} */

.thank-you {
	font-family: 'Space Grotesk';
  color: #8533ff;
  font-size: 3vw;
}





.label {
	font-family: 'Space Grotesk';
  color: white;
  font-size: 24vw;
}

.button {
  color: white;
  /* position: absolute; */
  top: 300px;

  font-size: 26px;
  background-color: #8533ff;
  padding: 7px 80px;
}

textarea {
  color: black;
  width: 100%;
  padding:15px !important;
}

.risicsuithtag {
    margin-top: 50px;
    margin-bottom: 35px;
}

.risicsuitmain {
    width: 1128px;
    margin: 0 auto;
}
.findepagebtn {
    text-align: right;
    margin-top: 70px;
}
.ocminputfields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
}
.ocminputfields input {
    padding: 10px 25px;
    font-size: 20px;
}
.ocminputfields div {
    width: 100%;
    display: inline-grid;
}
.octoptionfield input {
    padding: 10px;
}
.risisecform h2 {
    margin-bottom: 30px;
}
.ocsecdesc p {
    color: #ffffff;
    font-size: 28px;
}
.ocsecdesc {
    margin-top: 56px;
    margin-bottom: 12px;
    margin-left: 5px;
}
#NameOfOrganization {
    width: 100%;
}
.ocfnextbtn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 46px;
}


.risicsuithtag h1 {
    font-size: 36px;
}

.answer-dot {}